body{
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    background-color: #ffffff;
    width: 90%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    transition: transform 0.3s ease-in-out;
}
form:hover {
    transform: scale(1.02);
}
form input{
    background-color: rgba(10, 123, 161, 0.1);
    border: 1px solid #0a7ba1;
    outline: none;
    padding: 12px 18px;
    border-radius: 5px;
    color: #333;
    flex-basis: calc(50% - 20px);
    flex-grow: 1;
    transition: background-color 0.3s ease-in-out;
}
form input:focus {
    background-color: rgba(10, 123, 161, 0.2);
}
form button{
    background-color: #0a7ba1;
    color: #fff;
    padding: 12px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex-basis: 100%;
    flex-grow: 1;
    transition: background-color 0.3s ease-in-out;
}
form button:hover {
    background-color: #086a8b;
}

